
.noticias {
    padding-top: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3rem;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
    background-color: beige;
}

.title-noticias{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.img-noticias {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    width: 100%;
}

.paragraph-noticias {
    padding-top: 3rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}

